# All the sample images
content/

# All the local applications
dist/

# Python virtual environment
flask_env/
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore test output
*.out